*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.addAmt{
    color: #2dd4bf;
    font-size: 22px;
    font-weight: 700;
    padding:20px;
}

.amtType{
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    padding: 15px;
}

.amtType input[type = number]{
    background-color: #121e36;
    border: none;
    padding: 12px;
    font-size: 16px;
    font-weight: 400;
    color: #cbd5e1;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    margin: 10px 10px;
    width: 70%;
}

.amtType input::placeholder{
    font-size: 16px;
    font-weight: 400;
    color: #cbd5e1;
    font-family: "Poppins", sans-serif;
}


.amtForm{
    margin:30px 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 10px;
    
}

.amtFormInc{
    margin:30px 15px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 10px;
}

.amtForm input[type=button], .amtFormInc input[type=button]{
    padding: 8px;
    font-size: 17px;
    font-weight:500 ;
    background-color: #121e36;
    border: none;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    border-radius: 10px;
    margin-top: 10px;
}

.addBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

.addBtn button{
    padding:15px 40px;
    background-color: #121e36;
    border: none;
    color: #2dd4bf;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    border-radius: 10px;
}